.navbar{
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #c10101;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
}

.navbarList{
    display: flex;
    gap: 2rem;
    color: white;
    list-style-type: none;
    font-family: sans-seriflulo-clean-w01-one-bold, sans-serif;
    font-weight: 700;
    font-size: large;
    flex-wrap: wrap;
}


.navbarList li a:hover{
    color: rgba(245, 245, 245, 0.778);
    cursor: pointer;
    transition: 0.5s;
}

.navbarList li:active{
    color: red;
}

.navbarList li a{
    text-decoration: none;
    color: white;
}


.logoimg{
    width: 85px;
    height: 85px;
  
}