.navbar{
    display: flex;
    align-items: center;
    background-color: #0e0000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
}

.navbarList{
    display: flex;
    gap: 1rem;
    color: white;
    list-style-type: none;
    font-family: sans-seriflulo-clean-w01-one-bold, sans-serif;
    font-weight: 700;
    font-size: larger;
    flex-wrap: wrap;
}


.navbarList li a:hover{
    cursor: pointer;
    transition: 0.5s;

    &::before{
        width: 100%;
    }
}


.navbarList li a{
    text-decoration: none;
    color: white;
    position: relative;
}

.navbarList li a::before{
    content: "";
    position: absolute;
    width: 0%;
    background-color: red;
    height: 2px;
    bottom: 0;
    transition: all 0.5s;
}


.logoimg{
    width: 100px;
    height: 100px;
}